nav.navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar-primary-navigation {
  background-color: darken($color-dark, 5%);
  border-right: 1.5rem solid $color-orchid;
  width: 9rem;

  .site-title {
    position: absolute;
    top: 0px;
    left: 9rem;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 2.7rem 2rem;
    text-align: center;
    width: auto;
    transform: rotate(90deg);
    transform-origin: left top 0;

    &:hover {
      background-color: $color-orchid;
    }

    h1 {
      margin: 0;
    }
  }

  .link-list {
    margin-top: 24.3rem;
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid lighten($color-dark, 5%);

    .link-list-item {
      display: block;
      padding: 2rem;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: $color-orchid;
      }

      .fa-icon {
        margin: 1rem;
      }
    }
  }
}
